services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: backend:1.0
    container_name: tcs-backend
    ports: ["8080:8080"]
    networks:
      - app-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: frontend:1.0
    container_name: tcs-frontend
    ports: ["80:80"]
    depends_on: [backend]
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge